<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Clean Links for Google</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.Safari.extension</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).SafariExtensionHandler</string>
		<key>SFSafariContentScript</key>
		<array>
			<dict>
				<key>Script</key>
				<string>script.js</string>
			</dict>
		</array>
		<key>SFSafariExtensionBundleIdentifiersToUninstall</key>
		<string>com.umetzu.disablegoogleredirect</string>
		<key>SFSafariWebsiteAccess</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>*.google.com</string>
				<string>*.google.ac</string>
				<string>*.google.ad</string>
				<string>*.google.ae</string>
				<string>*.google.com.af</string>
				<string>*.google.com.ag</string>
				<string>*.google.com.ai</string>
				<string>*.google.al</string>
				<string>*.google.am</string>
				<string>*.google.co.ao</string>
				<string>*.google.com.ar</string>
				<string>*.google.as</string>
				<string>*.google.at</string>
				<string>*.google.com.au</string>
				<string>*.google.az</string>
				<string>*.google.ba</string>
				<string>*.google.com.bd</string>
				<string>*.google.be</string>
				<string>*.google.bf</string>
				<string>*.google.bg</string>
				<string>*.google.com.bh</string>
				<string>*.google.bi</string>
				<string>*.google.bj</string>
				<string>*.google.com.bn</string>
				<string>*.google.com.bo</string>
				<string>*.google.com.br</string>
				<string>*.google.bs</string>
				<string>*.google.bt</string>
				<string>*.google.co.bw</string>
				<string>*.google.com.bz</string>
				<string>*.google.ca</string>
				<string>*.google.com.kh</string>
				<string>*.google.cc</string>
				<string>*.google.cd</string>
				<string>*.google.cf</string>
				<string>*.google.cat</string>
				<string>*.google.cg</string>
				<string>*.google.ch</string>
				<string>*.google.ci</string>
				<string>*.google.co.ck</string>
				<string>*.google.cl</string>
				<string>*.google.cm</string>
				<string>*.google.cn</string>
				<string>*.google.com.co</string>
				<string>*.google.co.cr</string>
				<string>*.google.hr</string>
				<string>*.google.com.cu</string>
				<string>*.google.cv</string>
				<string>*.google.com.cy</string>
				<string>*.google.cz</string>
				<string>*.google.de</string>
				<string>*.google.dj</string>
				<string>*.google.dk</string>
				<string>*.google.dm</string>
				<string>*.google.com.do</string>
				<string>*.google.dz</string>
				<string>*.google.com.ec</string>
				<string>*.google.ee</string>
				<string>*.google.com.eg</string>
				<string>*.google.es</string>
				<string>*.google.com.et</string>
				<string>*.google.fi</string>
				<string>*.google.com.fj</string>
				<string>*.google.fm</string>
				<string>*.google.fr</string>
				<string>*.google.ga</string>
				<string>*.google.ge</string>
				<string>*.google.gf</string>
				<string>*.google.de</string>
				<string>*.google.gg</string>
				<string>*.google.com.gh</string>
				<string>*.google.com.gi</string>
				<string>*.google.gl</string>
				<string>*.google.gm</string>
				<string>*.google.gp</string>
				<string>*.google.gr</string>
				<string>*.google.com.gt</string>
				<string>*.google.gy</string>
				<string>*.google.com.hk</string>
				<string>*.google.hn</string>
				<string>*.google.hr</string>
				<string>*.google.ht</string>
				<string>*.google.hu</string>
				<string>*.google.co.id</string>
				<string>*.google.ir</string>
				<string>*.google.iq</string>
				<string>*.google.ie</string>
				<string>*.google.co.il</string>
				<string>*.google.im</string>
				<string>*.google.co.in</string>
				<string>*.google.io</string>
				<string>*.google.is</string>
				<string>*.google.it</string>
				<string>*.google.je</string>
				<string>*.google.com.jm</string>
				<string>*.google.jo</string>
				<string>*.google.co.jp</string>
				<string>*.google.co.ke</string>
				<string>*.google.ki</string>
				<string>*.google.kg</string>
				<string>*.google.co.kr</string>
				<string>*.google.com.kw</string>
				<string>*.google.kz</string>
				<string>*.google.la</string>
				<string>*.google.com.lb</string>
				<string>*.google.com.lc</string>
				<string>*.google.li</string>
				<string>*.google.lk</string>
				<string>*.google.co.ls</string>
				<string>*.google.lt</string>
				<string>*.google.lu</string>
				<string>*.google.lv</string>
				<string>*.google.com.ly</string>
				<string>*.google.co.ma</string>
				<string>*.google.md</string>
				<string>*.google.me</string>
				<string>*.google.mg</string>
				<string>*.google.mk</string>
				<string>*.google.ml</string>
				<string>*.google.com.mm</string>
				<string>*.google.mn</string>
				<string>*.google.ms</string>
				<string>*.google.com.mt</string>
				<string>*.google.mu</string>
				<string>*.google.mv</string>
				<string>*.google.mw</string>
				<string>*.google.com.mx</string>
				<string>*.google.com.my</string>
				<string>*.google.co.mz</string>
				<string>*.google.com.na</string>
				<string>*.google.ne</string>
				<string>*.google.com.nf</string>
				<string>*.google.com.ng</string>
				<string>*.google.com.ni</string>
				<string>*.google.nl</string>
				<string>*.google.no</string>
				<string>*.google.com.np</string>
				<string>*.google.nr</string>
				<string>*.google.nu</string>
				<string>*.google.co.nz</string>
				<string>*.google.com.om</string>
				<string>*.google.com.pa</string>
				<string>*.google.com.pe</string>
				<string>*.google.com.ph</string>
				<string>*.google.com.pk</string>
				<string>*.google.pl</string>
				<string>*.google.com.pg</string>
				<string>*.google.pn</string>
				<string>*.google.com.pr</string>
				<string>*.google.ps</string>
				<string>*.google.pt</string>
				<string>*.google.com.py</string>
				<string>*.google.com.qa</string>
				<string>*.google.ro</string>
				<string>*.google.rs</string>
				<string>*.google.ru</string>
				<string>*.google.rw</string>
				<string>*.google.com.sa</string>
				<string>*.google.com.sb</string>
				<string>*.google.sc</string>
				<string>*.google.se</string>
				<string>*.google.com.sg</string>
				<string>*.google.sh</string>
				<string>*.google.si</string>
				<string>*.google.sk</string>
				<string>*.google.com.sl</string>
				<string>*.google.sn</string>
				<string>*.google.sm</string>
				<string>*.google.so</string>
				<string>*.google.st</string>
				<string>*.google.com.sv</string>
				<string>*.google.td</string>
				<string>*.google.tg</string>
				<string>*.google.co.th</string>
				<string>*.google.com.tj</string>
				<string>*.google.tk</string>
				<string>*.google.tl</string>
				<string>*.google.tm</string>
				<string>*.google.to</string>
				<string>*.google.tn</string>
				<string>*.google.com.tn</string>
				<string>*.google.com.tr</string>
				<string>*.google.tt</string>
				<string>*.google.com.tw</string>
				<string>*.google.co.tz</string>
				<string>*.google.com.ua</string>
				<string>*.google.co.ug</string>
				<string>*.google.co.uk</string>
				<string>*.google.us</string>
				<string>*.google.com.uy</string>
				<string>*.google.co.uz</string>
				<string>*.google.com.vc</string>
				<string>*.google.co.ve</string>
				<string>*.google.vg</string>
				<string>*.google.co.vi</string>
				<string>*.google.com.vn</string>
				<string>*.google.vu</string>
				<string>*.google.ws</string>
				<string>*.google.co.za</string>
				<string>*.google.co.zm</string>
				<string>*.google.co.zw</string>
			</array>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2019 Umetzu. All rights reserved.</string>
	<key>NSHumanReadableDescription</key>
	<string>Stops google from modifying your search results url.</string>
</dict>
</plist>
